<div class="modal fade courier-modal" id="callbackModalNotification" tabindex="-1" role="dialog" aria-labelledby="callbackModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="i1">
          <div class="i2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="callbackModalLabel">Login</h4>
            <h5 class="modal-title">Azercell</h5>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="form">
          <div class="text-center">
            <div class="title">Enter your Password and Email</div>
            <form action="#">
              <div class="form-group">
                <label class="sr-only" for="mail5">Email</label>
                <input type="email" class="form-control" id="phone5" name="mail5" placeholder="Email" required />
              </div>
              <div class="form-group">
                <label class="sr-only" for="password5">Password</label>
                <input type="password" class="form-control" id="password5" name="password" placeholder="password" required />
              </div>

              <button class="btn btn-warning" type="submit">Register <span class="str"></span></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
