<div class="modal fade courier-modal" id="callbackModalRegister" tabindex="-1" role="dialog" aria-labelledby="callbackModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="i1">
          <div class="i2">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="callbackModalLabel">Register</h4>
            <h5 class="modal-title">Azercell</h5>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="form">
          <div class="text-center">
            <div class="title">Enter your Name,Password and Phone</div>
            <form action="#">
              <div class="form-group left">
                <label class="sr-only" for="name5">Name</label>
                <input type="text" class="form-control" id="name5" name="name" placeholder="Name" required />
              </div>
              <div class="form-group right">
                <label class="sr-only" for="password5">Password</label>
                <input type="password" class="form-control" id="password5" name="password" placeholder="password" required />
              </div>
              <div class="form-group">
                <label class="sr-only" for="phone5">Phone</label>
                <input type="tel" pattern="^\d4-\d3-\d4$" class="form-control" id="phone5" name="phone" placeholder="Phone (1234-567-8901)" required />
              </div>
              <div class="form-group">
                <label class="sr-only" for="mail5">Email</label>
                <input type="email" class="form-control" id="phone5" name="mail5" placeholder="Email" required />
              </div>
              <button class="btn btn-warning" type="submit">Register <span class="str"></span></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
